growbuddy_nodered_flow.json
[
    {
        "id": "growbuddy_tab",
        "type": "tab",
        "label": "GrowBuddy Control",
        "disabled": false,
        "info": "Sistema di controllo serra automatica con ESP32"
    },
    {
        "id": "http_in_data",
        "type": "http in",
        "z": "growbuddy_tab",
        "name": "Ricevi dati sensori",
        "url": "/growbuddy/data",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 100,
        "wires": [["parse_sensor_data"]]
    },
    {
        "id": "parse_sensor_data",
        "type": "function",
        "z": "growbuddy_tab",
        "name": "Elabora dati sensori",
        "func": "// Estrai dati dal payload\nconst data = msg.payload;\n\n// Prepara dati per il database\nmsg.payload = {\n    timestamp: new Date(),\n    luce: data.luce || 0,\n    acqua: data.acqua || 0,\n    umidita_terreno: data.umidita_terreno || 0,\n    buio: data.buio || false\n};\n\n// Salva anche in flow context per dashboard\nflow.set('ultima_lettura', msg.payload);\nflow.set('luce', msg.payload.luce);\nflow.set('acqua', msg.payload.acqua);\nflow.set('umidita_terreno', msg.payload.umidita_terreno);\n\nreturn msg;",
        "outputs": 1,
        "x": 380,
        "y": 100,
        "wires": [["save_to_db", "update_dashboard", "http_response"]]
    },
    {
        "id": "http_response",
        "type": "http response",
        "z": "growbuddy_tab",
        "name": "Risposta OK",
        "statusCode": "200",
        "headers": {},
        "x": 620,
        "y": 100,
        "wires": []
    },
    {
        "id": "save_to_db",
        "type": "function",
        "z": "growbuddy_tab",
        "name": "Salva in DB",
        "func": "// Salva nel context globale (array ultimi 100 valori)\nlet history = global.get('sensor_history') || [];\n\nhistory.push(msg.payload);\n\n// Mantieni solo ultimi 100 record\nif (history.length > 100) {\n    history = history.slice(-100);\n}\n\nglobal.set('sensor_history', history);\n\nnode.status({fill:\"green\", shape:\"dot\", text:`Salvato: ${history.length} record`});\n\nreturn msg;",
        "outputs": 1,
        "x": 620,
        "y": 160,
        "wires": [[]]
    },
    {
        "id": "update_dashboard",
        "type": "function",
        "z": "growbuddy_tab",
        "name": "Aggiorna dashboard",
        "func": "// Invia ai gauge della dashboard\nreturn [\n    {topic: \"luce\", payload: msg.payload.luce},\n    {topic: \"acqua\", payload: msg.payload.acqua},\n    {topic: \"umidita\", payload: msg.payload.umidita_terreno}\n];",
        "outputs": 3,
        "x": 640,
        "y": 220,
        "wires": [["gauge_luce"], ["gauge_acqua"], ["gauge_umidita"]]
    },
    {
        "id": "gauge_luce",
        "type": "ui_gauge",
        "z": "growbuddy_tab",
        "name": "Luce",
        "group": "sensori_group",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "💡 Luce",
        "label": "lux",
        "format": "{{value}}",
        "min": 0,
        "max": "4095",
        "colors": ["#ca3838","#e6e600","#00b500"],
        "seg1": "500",
        "seg2": "2000",
        "x": 870,
        "y": 180,
        "wires": []
    },
    {
        "id": "gauge_acqua",
        "type": "ui_gauge",
        "z": "growbuddy_tab",
        "name": "Livello acqua",
        "group": "sensori_group",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "💧 Acqua",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": ["#ca3838","#e6e600","#00b500"],
        "seg1": "25",
        "seg2": "50",
        "x": 890,
        "y": 220,
        "wires": []
    },
    {
        "id": "gauge_umidita",
        "type": "ui_gauge",
        "z": "growbuddy_tab",
        "name": "Umidità terreno",
        "group": "sensori_group",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "🌱 Umidità terreno",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": ["#ca3838","#e6e600","#00b500"],
        "seg1": "30",
        "seg2": "60",
        "x": 910,
        "y": 260,
        "wires": []
    },
    {
        "id": "btn_apri_serranda",
        "type": "ui_button",
        "z": "growbuddy_tab",
        "name": "Apri serranda",
        "group": "controlli_group",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "🪟 APRI",
        "tooltip": "Apri la serranda",
        "color": "",
        "bgcolor": "#00b500",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "serranda_aperta",
        "x": 140,
        "y": 380,
        "wires": [["send_serranda_command"]]
    },
    {
        "id": "btn_chiudi_serranda",
        "type": "ui_button",
        "z": "growbuddy_tab",
        "name": "Chiudi serranda",
        "group": "controlli_group",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "🪟 CHIUDI",
        "tooltip": "Chiudi la serranda",
        "color": "",
        "bgcolor": "#ca3838",
        "icon": "",
        "payload": "false",
        "payloadType": "bool",
        "topic": "serranda_aperta",
        "x": 150,
        "y": 420,
        "wires": [["send_serranda_command"]]
    },
    {
        "id": "send_serranda_command",
        "type": "http request",
        "z": "growbuddy_tab",
        "name": "Invia comando serranda",
        "method": "POST",
        "ret": "txt",
        "paytoqs": false,
        "url": "http://10.86.253.6/serranda",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 410,
        "y": 400,
        "wires": [["show_notification"]]
    },
    {
        "id": "btn_pompa",
        "type": "ui_button",
        "z": "growbuddy_tab",
        "name": "Attiva pompa",
        "group": "controlli_group",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "💦 ANNAFFIA",
        "tooltip": "Attiva pompa acqua",
        "color": "",
        "bgcolor": "#0094d9",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "pompa_attiva",
        "x": 140,
        "y": 480,
        "wires": [["send_pompa_command"]]
    },
    {
        "id": "send_pompa_command",
        "type": "http request",
        "z": "growbuddy_tab",
        "name": "Invia comando pompa",
        "method": "POST",
        "ret": "txt",
        "paytoqs": false,
        "url": "http://10.86.253.6/pompa",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 390,
        "y": 480,
        "wires": [["show_notification"]]
    },
    {
        "id": "show_notification",
        "type": "ui_toast",
        "z": "growbuddy_tab",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "topic": "",
        "name": "Notifica",
        "x": 660,
        "y": 440,
        "wires": []
    },
    {
        "id": "chart_luce",
        "type": "ui_chart",
        "z": "growbuddy_tab",
        "name": "Grafico luce",
        "group": "grafici_group",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "💡 Luce (24h)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "Nessun dato disponibile",
        "dot": false,
        "ymin": "0",
        "ymax": "4095",
        "removeOlder": "24",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": ["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],
        "useOldStyle": false,
        "outputs": 1,
        "x": 880,
        "y": 360,
        "wires": [[]]
    },
    {
        "id": "chart_acqua",
        "type": "ui_chart",
        "z": "growbuddy_tab",
        "name": "Grafico acqua",
        "group": "grafici_group",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "💧 Livello acqua (24h)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "Nessun dato disponibile",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "24",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": ["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],
        "useOldStyle": false,
        "outputs": 1,
        "x": 890,
        "y": 400,
        "wires": [[]]
    },
    {
        "id": "chart_umidita",
        "type": "ui_chart",
        "z": "growbuddy_tab",
        "name": "Grafico umidità",
        "group": "grafici_group",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "🌱 Umidità terreno (24h)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "Nessun dato disponibile",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "24",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": ["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],
        "useOldStyle": false,
        "outputs": 1,
        "x": 900,
        "y": 440,
        "wires": [[]]
    },
    {
        "id": "inject_grafico_luce",
        "type": "function",
        "z": "growbuddy_tab",
        "name": "Prepara dati luce",
        "func": "const history = global.get('sensor_history') || [];\nconst data = history.map(item => ({\n    x: item.timestamp,\n    y: item.luce\n}));\n\nmsg.payload = [{\n    series: ['Luce'],\n    data: [data],\n    labels: ['']\n}];\n\nreturn msg;",
        "outputs": 1,
        "x": 660,
        "y": 360,
        "wires": [["chart_luce"]]
    },
    {
        "id": "inject_grafico_acqua",
        "type": "function",
        "z": "growbuddy_tab",
        "name": "Prepara dati acqua",
        "func": "const history = global.get('sensor_history') || [];\nconst data = history.map(item => ({\n    x: item.timestamp,\n    y: item.acqua\n}));\n\nmsg.payload = [{\n    series: ['Acqua'],\n    data: [data],\n    labels: ['']\n}];\n\nreturn msg;",
        "outputs": 1,
        "x": 660,
        "y": 400,
        "wires": [["chart_acqua"]]
    },
    {
        "id": "inject_grafico_umidita",
        "type": "function",
        "z": "growbuddy_tab",
        "name": "Prepara dati umidità",
        "func": "const history = global.get('sensor_history') || [];\nconst data = history.map(item => ({\n    x: item.timestamp,\n    y: item.umidita_terreno\n}));\n\nmsg.payload = [{\n    series: ['Umidità'],\n    data: [data],\n    labels: ['']\n}];\n\nreturn msg;",
        "outputs": 1,
        "x": 670,
        "y": 440,
        "wires": [["chart_umidita"]]
    },
    {
        "id": "timer_grafici",
        "type": "inject",
        "z": "growbuddy_tab",
        "name": "Aggiorna grafici ogni 30s",
        "props": [{"p":"payload"}],
        "repeat": "30",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 600,
        "wires": [["inject_grafico_luce", "inject_grafico_acqua", "inject_grafico_umidita"]]
    },
    {
        "id": "text_status",
        "type": "ui_text",
        "z": "growbuddy_tab",
        "group": "controlli_group",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "Stato serranda",
        "label": "Stato serranda:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 670,
        "y": 540,
        "wires": []
    },
    {
        "id": "sensori_group",
        "type": "ui_group",
        "name": "Sensori in tempo reale",
        "tab": "dashboard_tab",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "controlli_group",
        "type": "ui_group",
        "name": "Controlli",
        "tab": "dashboard_tab",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "grafici_group",
        "type": "ui_group",
        "name": "Grafici storici (24h)",
        "tab": "dashboard_tab",
        "order": 3,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "dashboard_tab",
        "type": "ui_tab",
        "name": "GrowBuddy Dashboard",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]
